.container{
padding: 0 100px 50px 100px;
}

@media screen and (max-width: 768px) {
    .container {
      padding:  0 40px 40px 40px;
    }
  }

.title{
    color:inherit;
    width: 400px;
    margin: 0;
    padding: 0;
    padding-bottom: 32px;
    font-size: 32px;
    font-weight: 500;
    line-height: 124%;
}

.members_title{
    margin: 0;
    padding-bottom: 16px;
    color: inherit;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
}

.members_container{
    padding: 16px;
    border-radius: 20px;
    border: 2px solid  #024A7A;
    box-shadow: 2px 2px 8px 0px rgba(2, 74, 122, 0.30);
}

.members_list{
    display: flex;
    flex-direction: column;
}

.members_item{
    border-color: aquamarine;
}

.main_container{
    display: flex;
    gap: 20px;
     
}

.chat_container{
    width: 905px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    }

    .chat_div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

.input_container{
    
    display: flex;
    gap: 20px;
}

input{
    box-sizing: border-box;
    width: 675px;
    height: 80px;
    padding: 28px 20px;
    align-items: center;

    font-size: 24px;
    font-weight: 400;

    border-radius: 20px;
    border: 2px solid  #024A7A;
    box-shadow: 2px 2px 8px 0px rgba(2, 74, 122, 0.30);
}

.button_send{
    cursor: pointer;
    box-sizing: border-box;
    width: 210px;
    height: 80px;
    
   
    font-size: 32px;
    font-weight: 500;
    line-height: 124%;

    border: none;
    border-radius: 20px;
    background: #024A7A;
    color: #F5FBFF;

}

.chat_area{
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    overflow: hidden;
    overflow-y: scroll;

    border-radius: 20px;
    border: 2px solid  #024A7A;
    box-shadow: 2px 2px 8px 0px rgba(2, 74, 122, 0.30)
}

.no_messages{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.no_messages_text{
    width: 300px;
    color: inherit;
    text-align: center;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 30px;
   
    font-size: 32px;
    font-weight: 500;
    line-height: 124%;
    opacity: 0.6;
}

.chat{
    display: flex;
    gap: 15px;
}

.chat_avatar{
    border: 1px solid #024A7A;
    border-radius: 30%;
    width: 60px;
    height: 70px;
}
.chat_sender{
    color:  #0F1E28;
    /* text-align: center;
    leading-trim: both;
    text-edge: cap; */
    
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
}

.chat_message{
    padding-top: 20px;
}

.time{
    padding-left: 15px;
color: black;
}

.chat_nicktime{
display: flex;
justify-content: space-between;
}

.messageText {
    color:  #0F1E28;
    padding: 10px;
    
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%; 
    border-radius: 0px 20px 20px 20px;
    background:  #E2F4FF;
    box-shadow: 2px 2px 8px 0px rgba(2, 74, 122, 0.30);
  }

.userList{
    display: flex;
    flex-direction: column;
    gap: 25px;

    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.userItem{
    display: flex;
    align-items: center;
    gap: 25px;

}

  .user_name{
    color: #0F1E28;
    padding: 0;
    margin: 0;

    font-family: Manrope;
    font-size: 24px;
    font-weight: 400;

}

.user_avatar{
    width: 150px;
    height: 160px;

    border-radius: 20px;
    border: 2px solid  #024A7A;
    background:#F5FBFF;

    box-shadow: 2px 2px 8px 0px rgba(2, 74, 122, 0.30);
}