.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    padding:  15px;
   
    @media screen and (min-width: 768px) and (max-width: 1023px){
        padding:  25px;
    } 

    @media screen and (min-width: 1024px) {
        padding: 40px;

    }
    @media screen and (min-width: 1439px) {
        padding: 30px 100px 50px 100px;

    }
}

.title{
    color:inherit;
    width: 360px;
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 124%;

    @media screen and (min-width: 768px) and (max-width: 1023px){
        width: 400px;
        padding-bottom: 32px;
        font-size: 32px;
        
    } 
    @media screen and (min-width: 1024px) {
        width: 400px;
        padding-bottom: 32px;
        font-size: 32px;
      }
}

.members_title{
    margin: 0;
    padding-bottom: 8px;
    color: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;

    @media screen and (min-width: 768px) and (max-width: 1023px){
        padding-bottom: 12px;
        font-size: 17px;
        
    } 
    @media screen and (min-width: 1024px) {
        padding-bottom: 16px;
        font-size: 20px;
      }

}

.members_container{
    padding: 10px;
   
    width: 100%;
    border-radius: 20px;
    /* border: 2px solid  #024A7A; */
    /* box-shadow: 2px 2px 8px 0px rgba(2, 74, 122, 0.30); */
    box-shadow: 4px 4px 8px 0px #0287DF4D;
    overflow: auto; 

    @media screen and (max-width: 768px) {
        max-height: 100%;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px){
        padding: 13px;
        max-height: 100%;
        
    } 
    @media screen and (min-width: 1024px) {
        max-width: max-content;
        /* max-height: 100vh; */
        padding: 16px;
        overflow-y: auto;
        
      }
}

.members_list{
    display: flex;
    flex-direction: column;
}

.members_item{
    border-color: aquamarine;
}

.main_container{
    display: flex;
    /* max-height: 70vh; */
  
    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 15px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        
        flex-direction: column;
        gap: 15px;
    } 
    @media screen and (min-width: 1024px) {
    max-height: 70vh;
    flex-direction: row;
    gap: 20px;
    }
     
}

.chat_container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    /* @media screen and (min-width: 768px) and (max-width: 1023px){
       
        
    }  */

    @media screen and (min-width: 1024px) {
        /* width: 905px; */
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    .chat_div{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

.input_container{
    display: flex;
    gap: 10px;

    @media screen and (min-width: 768px) and (max-width: 1023px){
       
        gap: 15px;

    } 
    @media screen and (min-width: 1024px) {
        gap: 20px;

      }

}

.input_text{
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    padding: 15px;
    padding-right: 80px;
    align-items: center;

    font-size: 20px;
    font-weight: 400;

    background: linear-gradient(90deg, rgba(0, 138, 229, 0.3) 0%, rgba(160, 203, 231, 0.1) 100%);

    border-radius: 20px;
    border: 0px solid  #024A7A;
    /* box-shadow: 2px 2px 8px 0px rgba(2, 74, 122, 0.30); */

    @media screen and (min-width: 768px) and (max-width: 1023px){
        height: 75px;
        padding: 20px;
        padding-right: 80px;

    
        font-size: 20px;
       
    } 
    @media screen and (min-width: 1024px) {
        height: 80px;
        padding: 28px 20px;
        padding-right: 80px;


        font-size: 24px;


      }
}

.button_send{
    cursor: pointer;
    /* box-sizing: border-box; */
    /* width: 120px;
    height: 70px; */
    
   
    /* font-size: 24px;
    font-weight: 500;
    line-height: 124%; */

    border: none;
    background: transparent;
    /* border-radius: 20px;
    background: #024A7A;
    color: #F5FBFF; */

    /* @media screen and (min-width: 768px) and (max-width: 1023px){
        width: 160px;
        height: 75px;
        font-size: 28px;
    } 
    @media screen and (min-width: 1024px) {
        width: 210px;
        height: 80px;
        font-size: 32px;

      } */

}

.chat_area{
    /* width:  100%; */
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow: hidden;
    overflow-y: scroll;

    /* justify-content: center; */



    border-radius: 20px;
    /* border: 2px solid  #024A7A; */
    /* box-shadow: 2px 2px 8px 0px rgba(2, 74, 122, 0.30); */

    @media screen and (min-width: 768px) and (max-width: 1023px){
        padding: 20px;
    } 
    @media screen and (min-width: 1024px) {
        
        padding: 25px;
      }

}

.chat_menu{
    position: relative;
    /* background: #80C3F0; */

    
}

.no_messages{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.no_messagesImg{
max-width: 300px;


@media screen and (min-width: 768px) and (max-width: 1023px){
    max-width: 400px;
} 
@media screen and (min-width: 1024px) {
    max-width: 500px;
  }

}

.no_messages_text{
    width: 250px;
    color: inherit;
    text-align: center;
    margin: 0;
    padding-top: 15px;
    /* padding-bottom: 30px; */
   
    font-size: 24px;
    font-weight: 500;
    line-height: 124%;
    opacity: 0.6;

    @media screen and (min-width: 768px) and (max-width: 1023px){
        font-size: 28px;
    } 
    @media screen and (min-width: 1024px) {
        width: 300px;
        padding-top: 15px;
        
    
        font-size: 32px;
    
      }
}

.chat{
    
    display: flex;
    flex-direction: inherit;
    gap: 15px;
}

.chat_avatar{
    border: 2px solid #024A7A;
    border-radius: 30%;
    width: 40px;
    height: 45px;

    @media screen and (min-width: 768px) and (max-width: 1023px){
        width: 50px;
        height: 55px;
    } 
    @media screen and (min-width: 1024px) {
        width: 60px;
        height: 70px;

      }
}
.chat_sender{
    color:  #0F1E28;
    /* text-align: center;
    leading-trim: both;
    text-edge: cap; */
    
    font-family: Manrope;
    font-size: 17px;
    font-weight: 600;
    line-height: 130%;

    
    @media screen and (min-width: 768px) and (max-width: 1023px){
        font-size: 17px;
    } 
    @media screen and (min-width: 1024px) {
        
        font-size: 20px;
      }
}

.chat_message{
    padding-top: 20px;

}

.my_message{
margin-left: auto;
}

.chat_message.my_message {
    display: flex;
    flex-direction: row-reverse; 
  }

 

.time{
    font-size: 14px;

    padding-left: 15px;
color: black;

@media screen and (min-width: 768px) and (max-width: 1023px){
    font-size: 14px;
} 
@media screen and (min-width: 1024px) {
    
    font-size: 17px;
  }

}

.chat_nicktime{
display: flex;
justify-content: space-between;
}

.my_message .chat_nicktime {
    display: flex;
    flex-direction: row-reverse; 
  }

.messageText {
    color:  #0F1E28;
    padding: 10px;
    padding-right: 65px;
    word-wrap: break-word;
    max-width: 200px;

    font-family: Manrope;
    font-size: 17px;
    font-weight: 400;
    line-height: 130%; 
    border-radius: 0px 20px 20px 20px;
    background:  #E2F4FF;
    box-shadow: 2px 2px 8px 0px rgba(2, 74, 122, 0.30);


    @media screen and (min-width: 768px) and (max-width: 1023px){
        font-size: 17px;
        max-width: 400px;
    } 
    @media screen and (min-width: 1024px) {
        min-width: 120px; 
        max-width: 500px;
       
        font-size: 20px;
      }

  }

  
.userList{
    display: flex;
    gap: 15px;

    list-style-type: none;
    padding: 0;
    margin: 0;
    /* overflow: auto; */

    @media screen and (max-width: 768px) {
       overflow: auto;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        gap: 20px;
        overflow: auto;
    } 
    @media screen and (min-width: 1024px) {
        /* overflow-y: auto; */
        flex-direction: column;
        gap: 25px;

      }
    
}

.userItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    border-radius: 20px;

    background: linear-gradient(90deg, #0287DF -80%, rgba(2, 135, 223, 0) 80%);

    @media screen and (min-width: 768px) and (max-width: 1023px){
        gap: 10px;
    } 
    @media screen and (min-width: 1024px) {
        
        flex-direction: row;
        gap: 20px;

      }

}

  .user_name{
    color: #0F1E28;
    padding: 0;
    margin: 0;

    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;

    @media screen and (min-width: 768px) and (max-width: 1023px){
        font-size: 16px;
    } 
    @media screen and (min-width: 1024px) {
        
        font-size: 18px;

      }

}

/* .user_avatarBorder{
    width: 75px;
    height: 90px;
    border-radius: 14px;
    border: 2px solid  #024A7A;

    @media screen and (min-width: 768px) and (max-width: 1023px){
        width: 85px;
        height: 110px;
        top: 15%;
        border-radius: 17px;
    } 
    @media screen and (min-width: 1024px) {
        width: 85px;
        height: 110px;
        border-radius: 20px;
      }
} */

.user_avatar{
    width: 80px;
    height: 80px;
      /* position: relative;
      top: -10%;
      left: 5%;
      width: 110%;
      height: 110%; */
   
      /* object-position: center bottom; */
      /* @media screen and (min-width: 768px) and (max-width: 1023px){
          
      }  */
      
      /* @media screen and (min-width: 1024px) {
        top: -7%;
        left: 0;
        width: 90px;
        height: 115px;
        } */

}


.userMenu {
    position: absolute;
    bottom: 20%; 
    right: 3%; 
    display: flex;
    width: 200px;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    /* top:10%;
    left: 0; */
  }

  
  .userMenu p {
    margin: 0;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .userMenu p:hover {
    background-color: #f0f0f0;
  }
  
  .userMenu button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .userMenu button:hover {
    background-color: #0056b3;
  }

  .actions{
    position: absolute;
    bottom: 0%;
    right: 5%;
    display: flex;


  }

  .like{
    fill:#024A7A;
    /* fill:#024A7A; */
    &:hover{
    fill: red;
    }
  }

  .imageInChat {
    cursor: pointer;
    object-fit: contain;
    @media screen and (max-width: 768px) {
        max-width: 150px; 
        max-height: 150px;
    }
    
        @media screen and (min-width: 768px) and (max-width: 1023px){
            max-width: 300px; 
            max-height: 300px;
        } 
        @media screen and (min-width: 1024px) {
            max-width: 430px; 
            max-height: 430px;
        } 
  }

  .docInChat{
    fill:#024A7A;
    cursor: pointer;
    &:hover{
        fill:#000;
    }
}
  
.input_label{
position: relative;
width: 100%;

}

.containerFlex{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    gap: 5px;
}

/* .file_input_label{


} */

.file_input{
display: none;
}

.add_file_icon{
    fill:#0F1E28;
    &:hover{
        cursor: pointer;
        fill: #0056b3;
    }
}

.chatMenuContainer{
position: relative;
height: max-content;
background: #80C3F0;
border-radius: 20px;
border-image-source: linear-gradient(147.72deg, #80C3F0 0%, #0082D6 100%);

}

.chatMenuList{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 160px;
    
    
}


.replyMessageText{
opacity: 60%;
/* border-bottom: 1.5px solid #024A7A; */
/* padding-left: 10px; */
/* padding-bottom: 10px; */
padding-right: 65px;
word-wrap: break-word;
max-width: 200px;

font-family: Manrope;
font-size: 17px;
font-weight: 400;
line-height: 130%; 


@media screen and (min-width: 768px) and (max-width: 1023px){
    font-size: 17px;
    max-width: 400px;
} 
@media screen and (min-width: 1024px) {
    min-width: 120px; 
    max-width: 500px;
   
    font-size: 20px;
  }

}

.messageTextReply {
    color:  #0F1E28;
    padding-right: 65px;
    /* padding: 10px 65px 0 0px; */
    word-wrap: break-word;
    max-width: 200px;

    font-family: Manrope;
    font-size: 17px;
    font-weight: 400;
    line-height: 130%; 



    @media screen and (min-width: 768px) and (max-width: 1023px){
        font-size: 17px;
        max-width: 400px;
    } 
    @media screen and (min-width: 1024px) {
        min-width: 120px; 
        max-width: 500px;
       
        font-size: 20px;
      }

  }

  .replyMessageUsername{
    color: #024A7A;
    opacity: 60%;
    /* padding-left: 10px; */
    padding-right: 65px;
    word-wrap: break-word;
    max-width: 200px;

    font-family: Manrope;
    font-size: 17px;
    font-weight: 400;
    line-height: 130%; 

    @media screen and (min-width: 768px) and (max-width: 1023px){
        font-size: 17px;
        max-width: 400px;
    } 

    @media screen and (min-width: 1024px) {
        min-width: 120px; 
        max-width: 500px;
    
        font-size: 20px;
    }

}

.my_message_text{
background: #A9DCFF;
}

.replyContainer{
    display: flex;
    gap: 10px;
    align-items: center;
    /* justify-content: space-between; */
    background: #0088E280;
    /* position: absolute;
    bottom: 100px;
    left: 0px; */
    

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 90px;
    padding: 20px;
    padding-right: 40px;

}

.replyContentUp{
    padding: 10px 0;
}

.replyContentDown{
    padding-top: 10px;
    border-top: 1.5px solid #024A7A;
}

.replyContainerFlex{
display: flex;
flex-direction: column;
width: 100%;
}

.chatTextReply{
    color:  #0F1E28;
    /* padding: 10px 10px 0 10px; */
    /* padding-left: 10px; */
    word-wrap: break-word;

    font-family: Manrope;
    font-size: 17px;
    font-weight: 400;
    line-height: 130%; 
    max-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media screen and (max-width: 768px) {
    max-width: 100px;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px){
        font-size: 17px;
        max-width: 400px;

      
    } 
    @media screen and (min-width: 1024px) {

        font-size: 20px;
        max-width: 400px;
      }

  }

  .chatMenuMsgButton{
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: #0F1E28;
    text-align: start;
    width: fit-content;


    &:hover{
        cursor: pointer;
        color: #0056b3;

    }
    
}

.imgContainerUpload{
    border:1px solid black;
    /* background: #024A7A80; */
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    border-radius: 20px;
    border: 0px solid  #024A7A;
    /* box-shadow: 2px 2px 8px 0px rgba(2, 74, 122, 0.30); */
    box-shadow: 4px 4px 8px 0px #0287DF4D;
    
    width: 100%;
    height: 150px;
    padding: 20px;
    /* padding-right: 40px; */

}

/* .imgUploadDiv{

} */

.imgUpload{
    cursor: pointer;

@media screen and (max-width: 768px) {
    height: 70px;

    }

    @media screen and (min-width: 768px) and (max-width: 1023px){
        height: 100px;

    } 
    @media screen and (min-width: 1024px) {
        height: 100px;

    } 
}

.replyImage{
    height: 30px;
    width: 30px;
}

.ReplyMessageImage{
    max-height: 150px;
    max-width: 150px;
    padding-top: 10px;
    /* padding-bottom: 15px; */
    /* border-bottom: 1.5px solid #024A7A; */
    @media screen and (min-width: 768px){
        max-width: 250px;

    } 
}

.sendImg{
    stroke: #024A7A;
    cursor: pointer;
    &:hover{
        stroke: #000;
    }
}

.svgCloseReply{
    cursor: pointer;
    fill:#024A7A;

    &:hover{
        fill: #000;
    }
}

.svgCloseEdit{
    cursor: pointer;
    fill: #000;
    /* position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-60%); */

    &:hover{
        fill:#0056b3;
    }

     /* @media screen and (min-width: 768px) and (max-width: 1023px){
        right: 7%;
       
    } 
    @media screen and (min-width: 1024px) {
        right: 7%;

      } */
}

.buttons{
display: flex;
align-items: center;
gap: 15px;
}

.chatMenuClose {
position: absolute;
top: 10px;
right: 10px;
padding: 4px;
border-radius: 40%;
cursor: pointer;
color: #007bff;
border: 1px solid #007bff;
}

.imgInput{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 10px;
    align-items: center;

    font-size: 20px;
    font-weight: 400;

    border-radius: 20px;
    border: 2px solid  #024A7A;
    box-shadow: 2px 2px 8px 0px rgba(2, 74, 122, 0.30);

    /* @media screen and (min-width: 768px) and (max-width: 1023px){
        height: 75px;
        padding: 20px;
    
        font-size: 20px;
       
    } 
    @media screen and (min-width: 1024px) {
        height: 80px;
        padding: 28px 20px;

        font-size: 24px;


      } */
}

.imageInfo p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media screen and (max-width: 768px) {
    max-width: 100px;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px){
        max-width: 400px;
    } 
    @media screen and (min-width: 1024px) {
        max-width: 400px;

    } 
  }

  .replyContainerImgText{
    display: flex;
    /* margin-left: 10px; */
  }

  .editedText{

   font-size: 10px;

    
        @media screen and (min-width: 768px) and (max-width: 1023px){
            font-size: 12px;
        } 
        @media screen and (min-width: 1024px) {
            font-size: 15px;
    
        } 
}

.svg_container{
    position: absolute;
    bottom: 120px;
    right: 100px;
display: flex;
justify-content: flex-end;
align-items: baseline;
margin-top: 30px;
}

@keyframes wave-animation {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 1000;
    }
  }
  
  .wave {
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
    animation: wave-animation 10s linear infinite;
  }
  
.gallery{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.galleryTitle{
   text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.galleryImage{
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin: 10px;
}