.room_section{
    padding: 60px 15px;
  
    @media screen and (min-width: 768px) and (max-width: 1023px){
      padding: 60px 25px;
  } 
  @media screen and (min-width: 1024px) {
      padding: 60px 40px;
    }
  @media screen and (min-width:1440px){
      padding: 100px;
  }
  }

  .list_tabs .selected{
    color: #fff;
  }

  /* .tabsContainer{
  } */

  .tabsContainerTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 15px;
    background: linear-gradient(90deg, rgba(18, 111, 173, 0.610467) 0.25%, rgba(4, 136, 224, 0) 46.29%, rgba(22, 103, 157, 0.8) 99.75%);
  
    @media screen and (min-width: 768px) and (max-width: 1023px){
      padding: 25px;
  } 
  @media screen and (min-width: 1024px) {
      padding: 40px;
    }
  @media screen and (min-width:1440px){
      padding: 40px 100px;
  }
  }

  .list_tabs {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /* background: linear-gradient(90deg, rgba(18, 111, 173, 0.610467) 0.25%, rgba(4, 136, 224, 0) 46.29%, rgba(22, 103, 157, 0.8) 99.75%); */

  }
  
  .item_tabs {
    margin: 10px;
    text-align: center;
  }
  
  /* .tab_icon {
    width: 80px;
    height: 80px;
  } */
  .tabsContainer .tab_icon {
    width: 40px;
    height: 40px;
    cursor: pointer;

   &:hover{
  color: #fff;
  }
  }

  .menuTabs_container{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  transition: transform 2s ease;
  transform: translateX(-500px);
  }

  .flex{
  display: flex;

}



.menuButton {
  margin-right: 10px;
  transition: transform 0.3s;
}

.menuButtonOpen {
  transform: rotate(180deg);
}


.menuTabs_containerOpen {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.flex {
  display: flex;
  padding-left: -300px;
}

 .roomListShifted {
  padding-left: 300px; 
  transition: padding-left 0.3s;
} 
