.room_section{
    padding: 60px 15px;
  
    @media screen and (min-width: 768px) and (max-width: 1023px){
      padding: 60px 25px;
  } 
  @media screen and (min-width: 1024px) {
      padding: 60px 40px;
    }
  @media screen and (min-width:1440px){
      padding: 100px;
  }
  }

  .active{
    border: 1px solid black ;
    background-color: aqua;
  }

  .list_tabs {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .item_tabs {
    margin: 10px;
    text-align: center;
  }
  
  .tab_icon {
    width: 50px;
    height: 50px;
  }