
.text{
    display: block;
    font-size: 24px;
    font-weight: 400;
}

.title{
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
  font-size: 44px;
  font-weight: 500;
  line-height: 124%;
    }

.text1{
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.input{
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
    height: 80px;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%; 

    border-radius: 20px;
    border: 2px solid #024A7A;
    background: #F5FBFF;
}

.avatarCard {
    /* position: relative; */
    border-radius: 20px;
    border: 2px solid #024A7A;
    background-color: transparent;
    width: 135px; 
    height: 170px;
    padding: 0; 
    margin: 15px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;  
  }

  .avatarCard:hover{
    background-color:  #024A7A;
    }

    .active {
      background-color: #024A7A; 
    }


  /* Изображение аватара */
  .avatarImage {
    width: 100%; /* Ширина изображения */
    height: 100%; /* Высота изображения */
    object-fit: cover; 
    /* position: relative; */
    /* z-index: 1; */
  }


  /* Стили для контейнера аватаров */
.avatarContainer {

    margin: -15px;
    height: 270px;
    overflow-y: auto; 
  }
  
  .button{
    width: 530px;
    height: 80px;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    cursor: pointer;
    box-sizing: border-box;
       
    font-size: 32px;
    font-weight: 500;
    line-height: 124%;

    border: none;
    border-radius: 20px;
    background: #024A7A;
    color: #F5FBFF;
    transition: background-color 0.3s;    
  }

  .button:hover{
    color: #0F1E28;
    background-color: #F5FBFF;
    border: 2px solid #024A7A;

    box-shadow: 2px 2px 8px 0px rgba(2, 74, 122, 0.30);
  }

  .buttonLink{
    width: 240px;

    border: none;
    background: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    outline: none;
    cursor: pointer;
    color: #024A7A;
    font-family: Manrope;
    font-size: 28px;
    font-weight: 500;
    line-height: 124%;
    text-decoration-line: underline;
    transition: color 0.3s;
  }

  .buttonLink:hover{
    color: #0F1E28;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

  .passwordToggleIcon {
    position: relative;
    left: 1%;
    
    cursor: pointer;
  }