
.welcome{
    padding-top: 125px;
    padding-left: 100px;
    padding-bottom: 40px;

    background-image: url(../Images/MainFotoBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    max-height: 356px;

}

.welcome_title{
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;

    color: #fff;
       
}

.welcome_text{
    margin-top: 30px;
    margin-bottom: 0;

    font-size: 24px;
    line-height: 1.5;

    color: #fff;
    
}