
.welcome{
    padding: 40px;

    background-image: url(../Images/MainFotoBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    max-height: 356px;

    @media screen and (min-width:800px){
        padding-top: 100px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 40px;
        
    }

    @media screen and (min-width:1200px){
        padding-top: 125px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 40px;
        
    }
}

.welcome_title{
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;

    color: #fff;

    @media screen and (min-width:800px){
        font-size: 48px;
        
    }

    @media screen and (min-width:1200px){
        font-size: 64px;
        
    }
}

.welcome_text{
    margin-top: 15px;
    margin-bottom: 0;

    font-size: 18px;
    line-height: 1.5;

    color: #fff;

    @media screen and (min-width:800px){
        margin-top: 25px;
        
    }

    @media screen and (min-width:1200px){
        margin-top: 30px;
        font-size: 24px;
        
    }
    
}