.Container{
display: flex;

}

.loginForm{
    width: 1020px;
}

.text{
    display: block;
    font-size: 24px;
    font-weight: 400;
}

.title{
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
    font-size: 44px;
    font-weight: 500;
    line-height: 124%;
      }

.input{
    position: relative;
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
    height: 80px;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%; 
    box-sizing: border-box;

    border-radius: 20px;
    border: 2px solid #024A7A;
    background: #F5FBFF;
}

.button{
    width: 440px;
    height: 80px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
       
    font-size: 32px;
    font-weight: 500;
    line-height: 124%;

    border: none;
    border-radius: 20px;
    background: #024A7A;
    color: #F5FBFF;
    transition: background-color 0.3s;    
  }

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    }

.button:hover{
    color: #0F1E28;
    background-color: #F5FBFF;
    border: 2px solid #024A7A;

    box-shadow: 2px 2px 8px 0px rgba(2, 74, 122, 0.30);
    }

.buttonLink{
    width: 440px;
    height: 80px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
       
    font-size: 32px;
    font-weight: 500;
    line-height: 124%;

    border-radius: 20px;
    border: 2px solid #024A7A;
    background-color: #F5FBFF;
    color: #0F1E28;
    transition: background-color 0.3s;    
    transition: color 0.3s;
}

.buttonLink:hover{
    background-color: #024A7A;
    color: #F5FBFF;
}

.passwordToggleIcon {
    position: relative;
    left: 1%;
    cursor: pointer;
  }