.createRoomContainer{
padding: 30px;
}

.title {
    text-align: center;
    margin: 0;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 124%;
    
    @media screen and (min-width: 768px) and (max-width: 1023px){
      margin-bottom: 24px;
      font-size: 28px;
  }
 }

 .center{
display: flex;
align-items: center;
justify-content: center;
gap: 40px;
}

.cancelButton{
    font-size: 24px;
   
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 14px ;
    background: linear-gradient(90deg, rgba(0, 138, 229, 0.45) 0%, rgba(0, 138, 229, 0.25) 50%, rgba(0, 138, 229, 0.45) 100%);
   
    &:hover{
    color: #fff;
    background: linear-gradient(270deg, #20A6FE 0%, #004D94 90%);
    cursor: pointer;
    }
}

.confirmButton{
    color: #fff;
    font-size: 24px;

    width: 200px;
    height: 60px;
    border: none;
    border-radius: 14px ;

    background: linear-gradient(90deg, #E25057 0%, rgba(219, 98, 104, 0.45) 50%, #E25057 100%);

    &:hover{
    color: #000;
    background: linear-gradient(90deg, #53080C 0%, #F1000C 90%);
    cursor: pointer;

    }

}