.sticky_header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color:#F5FBFF;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    border-bottom: 1px solid #D0D0D0;

    @media screen and (min-width: 768px) and (max-width: 1023px){
        padding: 25px;
    } 
    @media screen and (min-width: 1024px) {
        padding: 40px;
      }
    @media screen and (min-width:1440px){
        padding: 40px 100px;
    }
    
}

.notificationSvg{
    margin-left: 40px;
    cursor: pointer;
}

.notificationTitle{
    font-size: 30px;
    font-weight: 700;
    color: #2D5F81;

}

.notificationContainer {
    position: relative;
  }
  
  .notificationSvg:hover + .hoverContainer,
  .hoverContainer:hover {
    display: block;
  }
  
  .hoverContainer {
    display: none;
    position: absolute;
    top: 50px;
    left: 40px;
    width: 500px;
    height: 600px;
    padding: 30px;
    border-radius: 20px;
    background: linear-gradient(180deg, #CBEAFF 0%, #FFFFFF 100%);
    box-shadow: 4px 4px 8px 4px #024A7A66;
    z-index: 2;
  }

.messagesSvg{
    cursor: pointer;
    fill: #134563;
}

.messagesSvg:hover{
    fill: #20A6FE;
  }

.messageContainer {
    position: relative;
  }

.notificationBadge{
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-left: 40px;

    @media screen and (max-width:1023px){
        display: none;    
    }

}

.nav_item:not(:last-child) {
    margin-right: 20px;
    
    @media screen and (min-width:1440px){
        margin-right: 40px;
    }
}



.nav_item:hover {
    color: #024A7A;
    cursor: pointer;
}

.nav_link {
    text-decoration: none;
    font-size: 20px;
    line-height: 1.3;
    color: inherit;
    @media screen and (min-width:1024px){
        font-size: 18px;
    }
    @media screen and (min-width:1440px){
        font-size: 20px;
    }
}

.avatarCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #024A7A;
    cursor: pointer;
    
    @media screen and (min-width: 768px) and (max-width: 1023px){
        width: 35px;
        height: 35px;
    } 
    @media screen and (min-width: 1024px) {
        width: 40px;
        height: 40px;
      }
    
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    @media screen and (min-width:1024px){
        align-items: baseline;
        
    } 
}


.toggle {
    border: 2px solid black;

}

   .mobLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    @media (min-width: 1024px) {
    
        gap: 0px;
     
    }
}


.mob_list{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
    padding: 25px 0px 20px 30px;
    z-index: 9;
    
    border-radius: 0px 0px 10px 0px;
    background: #F5FBFF;

    @media screen and (min-width: 768px) and (max-width: 1023px){
        padding: 35px 0px 20px 30px;
    } 
    @media (min-width: 1024px) {
       
        display: none;
     
    }
}

  
  .mobMenuButton{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    z-index: 10;

    @media (min-width: 1024px) {
        display: none;
    }
}
.active{
    color: #024A7A;
    text-decoration: underline;
}


.searchContainer {
    position: relative;
    display: inline-block;
  }
  
  .searchInput {
    width: 220px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid transparent; 
    background: linear-gradient(#fff, #fff) padding-box, 
                linear-gradient(90deg, #03218D 10%, #00A0E5 100%) border-box;
    background-clip: padding-box, border-box;
  }
  
  
  .clearButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .searchResults {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .resultSection {
    padding: 10px;
  }
  
  .resultItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    &:hover{
        background: rgba(0, 0, 0, 0.1);

    }
  }
  
  .resultItem:last-child {
    border-bottom: none;
  }
  
  .resultAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .results{
display: block;
color: #2D5F81;
padding: 15px;
margin-left: auto;
margin-right: auto;
border: none;
background: none;
cursor: pointer;
text-decoration: underline;

}