header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    /* @media screen and (max-width: 767px){
        
    } */
    @media screen and (min-width: 768px) and (max-width: 1023px){
        padding: 25px;
    } 
    @media screen and (min-width: 1024px) {
        padding: 40px;
      }
    @media screen and (min-width:1440px){
        padding: 40px 100px;
    }
    
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-left: 40px;

    @media screen and (max-width:1023px){
        display: none;    
    }

}

.nav_item:not(:last-child) {
    margin-right: 20px;
    
    @media screen and (min-width:1440px){
        margin-right: 40px;
    }
}



.nav_item:hover {
    color: #024A7A;
    cursor: pointer;
}

.nav_link {
    text-decoration: none;
    font-size: 20px;
    line-height: 1.3;
    color: inherit;
    @media screen and (min-width:1024px){
        font-size: 18px;
    }
    @media screen and (min-width:1440px){
        font-size: 20px;
    }
}

.avatarCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #024A7A;
    cursor: pointer;
    
    @media screen and (min-width: 768px) and (max-width: 1023px){
        width: 35px;
        height: 35px;
    } 
    @media screen and (min-width: 1024px) {
        width: 40px;
        height: 40px;
      }
    
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    @media screen and (min-width:1024px){
        align-items: baseline;
        
    } 
}


.toggle {
    border: 2px solid black;

}

   .mobLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    @media (min-width: 1024px) {
    
        gap: 0px;
     
    }
}


.mob_list{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
    padding: 25px 0px 20px 30px;
    z-index: 9;
    
    border-radius: 0px 0px 10px 0px;
    background: #F5FBFF;

    @media screen and (min-width: 768px) and (max-width: 1023px){
        padding: 35px 0px 20px 30px;
    } 
    @media (min-width: 1024px) {
       
        display: none;
     
    }
}


  
  .mobMenuButton{

    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    z-index: 10;

    @media (min-width: 1024px) {
        display: none;
    }
}
.active{
    color: #024A7A;
    text-decoration: underline;
}
/* .menuOpened{
    position: fixed;
} */
