footer{
    padding: 15px;
    background:  #C5E6FD;
    /* background: var(--dark-tema-bg-footer-dark, #182A36); */
  
    @media screen and (min-width: 768px) and (max-width: 1023px){
        padding: 25px;
    } 
    @media screen and (min-width: 1024px) {
        padding: 40px;
      }
    @media screen and (min-width:1440px){
        padding: 40px 100px;
    }
}

.footer_title{
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;

@media screen and (min-width: 768px) and (max-width: 1023px){
    font-size: 17px;
} 
@media screen and (min-width: 1024px) {
    font-size: 20px;
  }
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 20px;

    @media screen and (min-width: 768px) and (max-width: 1023px){
       padding-bottom: 25px;
    } 
    @media screen and (min-width: 1024px) {
        padding-bottom: 30px;
      }
       
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    margin: 0;
    padding: 0;
    margin-left: 40px;
    @media screen and (max-width:1023px){
        display: none;    }
}

.nav_item:not(:last-child) {
    margin-right: 40px;
}

.nav_item:hover {
    color: #024A7A;
    cursor: pointer;
}

.nav_link {
    text-decoration: none;

    font-size: 20px;
    line-height: 1.3;

    color: inherit;
    
}

.footer_list{
    display: flex;
    align-items: center;
    justify-content: center;
    

    margin: 0;
    padding: 0;
}

.footer_item:not(:last-child){
    margin-left: 15px;
}

.footer_list_text{
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
}

.footer_text{
    margin: 0;
    font-size: 12px;

@media screen and (min-width: 768px) and (max-width: 1023px){
    font-size: 15px;
 } 
 @media screen and (min-width: 1024px) {
    font-size: 18px;
   }
}

 .footer_img,
 .footer_imgHover {
   display: block;
   width: 40px;
   height: auto;
@media screen and (min-width: 768px) and (max-width: 1023px){
    width: 45px;
 } 
 @media screen and (min-width: 1024px) {
    width: 50px;
   }
 }
 
 .footer_imgHover {
   display: none; 
 }
 
 .footer_item:hover .footer_img {
   display: none; 
   ;
 }
 
 .footer_item:hover .footer_imgHover {
   display: block;
   cursor: pointer
}