.container{
    padding: 0 100px 50px 100px;
    }
    
    @media screen and (max-width: 768px) {
        .container {
          padding:  0 40px 40px 40px;
        }
      }
    
    .title{
        color:inherit;
        width: 400px;
        margin: 0;
        padding: 0;
        padding-bottom: 30px;
        font-size: 32px;
        font-weight: 500;
        line-height: 124%;
    }

.noChats_text{
    width: 300px;
    color: #0F1E28;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    
    font-family: Manrope;
    font-size: 32px;
    font-weight: 500;
    line-height: 124%;

    opacity: 0.6;
}

.noChats_img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
