.container{
    padding: 0 100px 50px 100px;
    }
    
    @media screen and (max-width: 768px) {
        .container {
          padding:  0 40px 40px 40px;
        }
      }
    
    .title{
        color:inherit;
        width: 400px;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        font-size: 32px;
        font-weight: 500;
        line-height: 124%;
    }

.noChats_text{
    width: 300px;
    color: #0F1E28;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    
    font-family: Manrope;
    font-size: 25px;
    font-weight: 500;
    line-height: 124%;

    opacity: 0.6;
}

.noChats_img{
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
}

.chatList{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: -10px;
}

.chatCard{
    position: relative;
    width: calc(25% - 25px);
    height: 310px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid  #024A7A;
    overflow: hidden;
    box-shadow: 2px 2px 8px 0px rgba(2, 74, 122, 0.30);

}

.info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
    width: 295px;
    height: 60px;
    padding: 18px;
    box-sizing: border-box;
  
    background-color: #024A7A;
}

.bg{
    width:105%;
}

.avatarBorder{
    position: absolute;
    top: 20%;
    width: 100px;
    height: 140px;
    border-radius: 20px;
    border: 2px solid  #F5FBFF;
}

.avatar{
    position: relative;
    top: -5%;
    left: -3%;
    width: 105%;
    height: 105%;
 
    z-index: 2;
    /* object-fit: cover; */
    object-position: center bottom;
    
/* width: 100px;
height: 140px; */
/* position: absolute; */
/* border-radius: 20px;
border: 2px solid  #F5FBFF; */

/* top: 50%;
left: 50%; */
}