* {  box-sizing: border-box;
  margin: 0;  padding: 0;
  ::-webkit-scrollbar {
    background-color: #024A7A;    width: 20px;
  }
  /* background of the scrollbar except button or resizer */  ::-webkit-scrollbar-track {
    background-color: #E2F4FF;  }
  /* scrollbar itself */
  ::-webkit-scrollbar-thumb {    background-color: #024A7A;
    border-radius: 2px;    
    /* border: 2px solid #fff; */
  }
  /* set button(top and bottom of the scrollbar) */  ::-webkit-scrollbar-button {
    display:none;
  }
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

.app{
  /* max-width: 1440px; */
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-theme{
  background-color: #0F1E28;
  color: #fff;
}

.light-theme{
  background-color: #F5FBFF;
  color: #000;
}

.ReactModal__Overlay--after-open {
  
  z-index: 11; 
} 